#error-page{
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
	.error-container{
		-webkit-box-flex: 0;
		-webkit-flex: none;
		flex: none;
	}
	h1{
		font-size: 100px;
	}
}