.find-talents-wrapper{
	.header-functions-container{

	}
	.project-details-container, .role-item{
		ul{
			li{
				.title{
					display: inline-block;
					font-weight: bold;
					line-height: 19px;
				}
			}
		}

		h4#project-title-heading{
			color: #1A7AB9;
			font-weight: 600;
		}

		.button-function{
			transition: 0.5s;

			a{
				color: #666666;
				text-decoration: none;
			}

			&:hover{

				a{
					color: #1D89CF;
				}
				.bordered{
					border-color: #1D89CF;
				}
			}

			&:after{
				font-family: FontAwesome;
				content: "\f0da";
				right: -4px;
				top: 30px;
				font-size: 20px;
				position: absolute;
			}

			&:nth-child(2):after{
				color:#c0392b;	
			}

			&:nth-child(3):after{
				color:#f1c40f;	
			}

			&:nth-child(4):after{
				color:#2ecc71;	
			}

			&:nth-child(5):after{
				color:#27ae60;	
			}

			&:last-child:after{
				content: "";
			}
		}

		.long-description{
			span{
				background-color: #dddddd;
				padding: 1px 5px;
				border-radius: 3px;
				font-size: 11px;
			}
		}
		.details-label-container{
			text-align: center;
			margin-bottom: 5px;
			padding-right: 0px;

			.details-label{
				padding: 6px 10px;
				background-color: #E8E8E8;
			}

			&:nth-child(4n){
				padding-right: 11px;
			}
		}		
	}
}