// no side-bar-design

.no-sidebar-layout{
	#main-navbar{
		.navbar-header{
			padding-left: 15px !important;
			padding: 10px;
		}

		li:last-child{
			border-right-width: 0px;
		}

		.primary-nav{
			li{
				border-right-width: 0px;
				
				a{
					line-height: normal;
					text-align: center;
					font-size: 11px;
					padding: 12px 18px;
					height: 64px;

					.primary-nav-icon{
						font-size: 25px;
					}
				}
			}
		}

		@media all and (max-width: 767px){
			.primary-nav-icon, .primary-nav-text{
				display: inline;	
				font-size: 12px !important;
			}
			.primary-nav{
				a.nav-link{
					height: inherit;	
				}
			}
		}

		.secondary-nav{
			li{	
				a{	
					padding: 12px 20px;
					height: 64px;
					text-align: center;
				}
			}
		}
	}

	#main-wrapper{
		padding-left: 0px;
	}

	#main-menu{
		display: none;
	}

	#main-menu-bg{
		display: none;
	}

	.page-header{
		border: 0px;
		margin: 0px;
		padding: 15px 0px;
	}

	.breadcrumb{
		margin: 0px;
		border: 0px;
		padding: 0px;

		li{
			a{
				font-size: 10px;
			}
		}
	}

	.navbar-inner{
		.navigation-header-container{
			// padding: 10px;
			background-color: #ffffff;
		}
	}

	#content-wrapper{
		padding-top: 70px;
	}

}

// end no side-bar-design


// input tagging on share like it list
.bootstrap-tagsinput{
	width: 100%;
	.label-info{
	  background: #B9B2B0;
	}	
}

[data-bind-template] {
	display:none !important;
}

.pagination li a.active {
	background: #1d89cf;
	color:#fff;
}

#loading-div{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

//custom template
.cd-custom-template{
	//custom-checkbox-inline-no-margin
	.checkbox-inline-no-margin{
		position: relative;
		display: inline-block;
		padding-right: 20px;
		margin-bottom: 0;
		vertical-align: middle;
		font-weight: normal;
		cursor: pointer;

	}

	//project-view
	.project-details-container{
		ul.unions{
			li{
				display: inline-block;
				.title{
					display: inline-block;
				}
				&:nth-child(odd):after{
					content: " | "
				}
			}
		}
		ul.additional-details{
			li{
				padding: 6px 5px;
				font-weight: 500;
				background-color: #F9F9F9;
				.title{
					font-weight: 400;
					min-width: 115px;
					display: inline-block;
				}

				&:nth-child(odd){
					background-color: #e8e8e8;
				}
			}
		}

		ul.description{
			li{
				padding: 6px 5px;
				font-weight: 400;
				background-color: #e8e8e8;
				.title{
					font-weight: 400;
					min-width: 115px;
					display: inline-block;
				}
			}
		}

	}

	// custom panels
	.panel{
		border-radius: 0px;
	}

	.panel-group{
		margin-bottom: 10px;

		.panel{
			border-radius: 0px;
			.panel-heading{
				border-radius: 0px;
			}
			.panel-body{
				border-radius: 0px;
			}
		}
	}

	.panel-blue{
		.panel-heading{
			background-color: #1976B3;
			a, a:after{
				color: #fff;

				&:hover, &:active, &:focus, &:visited:after, &:hover:after, &:active:after, &:focus:after, &:visited:after {
					color: #fff;
				    cursor: pointer;
				}
			}
		}
	}

	.panel-red{
		.panel-heading{
			background-color: #e66454;
			a, a:after{
				color: #fff;

				&:hover, &:active, &:focus, &:visited:after, &:hover:after, &:active:after, &:focus:after, &:visited:after {
					color: #fff;
				    cursor: pointer;
				}
			}
		}
	}

	//custom top navbar
	#main-navbar{

		#main-navbar-collapse{

			.logo-and-search-main-wrap{
				width: auto;
				.search-form-on-navbar{
					float: left;
					form.navbar-form{

						::-webkit-input-placeholder {
						   color: #DADBE0;
						}

						:-moz-placeholder { /* Firefox 18- */
						   color: #DADBE0;
						}

						::-moz-placeholder {  /* Firefox 19+ */
						   color: #DADBE0;
						}

						:-ms-input-placeholder {
						   color: #DADBE0;
						}

						input{
							border-radius: 0px;
							border: 0px;
							background-color: #246ac1;
							color: #DADBE0;
						}
					}
				}

				.logo-area-container{
					float: left;
					.logo-img-holder{
						width: 100%;
					}
				}
			}

			.navbar-icon{
				color:#fff;
			}

			.nav{
				li{
					a{
						.label{
							z-index: 200;
							font-size: 13px;
							padding: 2px 3px;
							right: 4px;
							top: 11px;
						}

						.nav-icon{
							font-size: 22px;
							color: #104c97;
							z-index: 100;
						}

						span, .nav-drop-icon{

						}
					}

					&.nav-icon-btn{
						padding: 0 10px;
						a{
							padding-top: 5px;
							&:hover{
								background-color: transparent;
							}
						}

						&:hover{

							transition: 0.6s;
							a{
								i{
									color: #fff;
								}
							}

						}
					}

					&.dropdown:last-child{
						border-left: transparent;
						padding: 0 10px;

						a{
							&:hover{
								background-color: transparent;
							}
						}

						&:hover{

							transition: 0.6s;
							a{
								i{
									// color: #fff;
								}
							}

						}
					}

					ul{
						li{
							a{
								&:hover{

								}
							}
						}
					}
				}
			}

			.navbar-collapse{
				border-top: transparent;
			}

			.navbar-inner{
				background-color: #3787ea;
			}

			.dropdown > a{

			}

			.dropdown.open > a{
				border: 0px;
				background:transparent;

			}

			a:after{

			}
		}

		.navbar-inverse{
			background-color: #fff;
		}

		#menu-content-demo img{
			width: 50px;
			height: 70px;
			border-radius: 0px;
			left: -50px;
		}

		#main-menu .menu-content.top{
			padding-top: 60px;
			padding-bottom: 70px;
		}

		#menu-content-demo{
			padding-left: 80px !important;
		}

		.user-menu > img {
			border-radius: 0px;
			width: 20px;
		}

		.navbar-brand div, .demo-logo {
			background: transparent;
		}

		.navbar-brand div img{
			height: 25px;
			width: auto;
		}

		#main-menu-bg{
			background-color: #fff !important;
			border-right: 1px solid #E0E0E0;
		}

		#main-menu .menu-content{
			border-color: #eee;
		}

		#main-menu .navigation a, #main-menu .mmc-dropdown-open-ul a {
			color: #6B6E76 !important;
			position: relative;
			transition: all .2s !important;
			font-size: 16px;
			height: 50px;
			font-weight: normal;
			border-bottom: 1px solid #eee;

			i{
				vertical-align: sub;
			}

			span{
				vertical-align: sub;
			}
		} // main-navbar-collapse

		#main-menu li > a{
			border-left: 0px;
		}

		#main-menu li.active > a{
			background: #60a7ff !important;
			color: #fff !important;
			border-left: 0px solid #428bca;
		}

		#main-menu .navigation a:hover, #main-menu .mmc-dropdown-open-ul a:hover{
			color: #fff !important;
			background: #60a7ff !important;
			border-left: 0px solid #428bca;
		}

		#main-navbar #main-menu-toggle {
		  background: #2C77D4 ;
		  color: #fff;
		  i{
		  	color: #fff;
		  	&:before{
		  		color: #fff;
		  	}
		  }
		}

		#main-navbar #main-menu-toggle {
			.fa:before{
				color: #fff;
			}
		}

		#main-navbar .navbar-header {
		  background: #3787ea;
		}

		@media (min-width: 768px){
			#main-navbar .navbar-header {
			  background-color: #3787ea !important;
			}
		}

		@media (min-width: 768px){

			#main-navbar #main-menu-toggle {
				background: #2C77D4 ;
				color: #fff;

			  i{
			  	color: #fff;
			  	&:before{
			  		color: #fff !important;
			  	}
			  }
			}


			#main-navbar{
				#main-navbar-collapse{
					ul.navbar-nav{
					    li:first-child{
					    	margin-top: 0px;
					    }
					}
				}
			}
		}

	} // end of custom top navbar


} // cd-custom-template{

//for radio button background
.gt-ie8 input[type="radio"].px + .lbl:after{
	background-color: #1d89cf !important;
}