.like-it-list-page-wrapper,  .self-submissions-notes-view-wrapper {
	.talents-search-result {
		.talent-item-container {
			.item-container-holder {
				height:193px;
				overflow-y: scroll;

				.note-item {
						padding-bottom: 10px;
						margin-bottom: 10px;
					.note-header {
						 .name-date {
						 	  display: inline-block;
							  vertical-align: top;
							  margin-top: 3px;
							  margin-left: 2px;
						 }
						.photo{
							  display: inline-block;
							  width: 20px;
							  height: 20px;
							  background-color: #ddd;
						}
						.name{
							display: inline-block;
 							 color: #4083a9;

						}
						.date {
						  display: inline-block;
						  color: #898989;
						  font-size: 9px;
						}
					}
				}
			}
		}
	}

}

.rating-button {
	opacity:0.5;

	&.active {
		opacity:1;
	}
}
