.projects-wrapper{

	#project-listing{

		.panel-active {
			background-color: #1976B3;
			a {
				color: #fff;
				text-decoration: none !important;
				&::after{
					color: #fff;
				}  
			}
		}

		.panel-inactive {
			background-color: #e66454;
			a {
				color: #fff;
				text-decoration: none !important;
				&::after{
					color: #fff;
				} 
			}
		}

		.project-details-container{
			ul.unions{
				li{
					display: inline-block;
					.title{
						display: inline-block;
					}
					&:nth-child(odd):after{
						content: " | "
					}
				}
			}
			ul.additional-details{
				li{
					padding: 6px 5px;
					font-weight: 500;
					background-color: #F9F9F9;
					.title{
						font-weight: 400;
						min-width: 115px;
						display: inline-block;
					}

					&:nth-child(odd){
						background-color: #e8e8e8;	
					}
				}

				&.market-description{
					.title{
						display: block;
					}
				}
			}

			ul.description{
				li{
					padding: 6px 5px;
					font-weight: 400;
					background-color: #e8e8e8;
					.title{
						font-weight: 400;
						min-width: 115px;
						display: inline-block;
					}
				}
			}

		}
	} //project listing

	.roles-container{
		.roles-item{
			margin-bottom: 10px;

			ul.description{
				li{
					font-weight: 400;
					.title{
						font-weight: bold;
						display: inline-block;
					}
				}
			}
			.details-label-container{
				text-align: center;
				margin-bottom: 5px;
				padding-right: 0px;

				.details-label{
					padding: 6px 10px;
					background-color: #E8E8E8;
				}

				&:nth-child(4n){
					padding-right: 11px;
				}
			}
		}
	} //roles-container
}