.talent-roles-wrapper{
	.project-roles-info{
		background-color: rgba(0, 0, 0, 0.05);
		padding: 12px 10px;
		margin-top: 5px;
		border: 1px solid #ddd;
		ul{
			li{
			    line-height: 25px;
			    color: #333;
			    font-size: 13px;
			    &:last-child{
			    	line-height: 6px;
			    }
			}
		}
	}
}