.talents-wrapper, .favorite-talents-wrapper{
	.talents-search-filter-content{
		.panel-talents-search{
			.panel-heading{
				background-color: #23272D;
				.panel-title{
					&.talents-refine-title{
						color:#fff;
					}
				}
				.panel-heading-controls{
					.panel-heading-icon{
						i{
							color: #fff;
						}
					}
				}
			}
		} //panel-talents-search
		
		.talents-search-result{
			.top-results-heading{
				.pagination{
					vertical-align: bottom;
				}
				.results-counter{
					display: inline-block;
					padding-bottom: 2px;
				}
			}

			.talent-item-container{
				font-size: 12px;
				
				.panel-body{
					padding: 10px;
				}

				.talent-photo{
					background-color: #FFF;
					border: 1px solid #DDD;
					padding: 3px;

					img{
						background-color: #ddd;
						min-height: 130px;
						max-height: 130px;
						width: 100%;
					}
				}

				.talent-name{

				}

				.talent-location{

				}

				.talent-information{
					.talents-list-details{
						li{
							line-height: 19px;
						}
					}
				}

				.like-it-list-container{
					.title{
						font-size: 11px;
					}
				}	
			}
		} //talents-search-results

	} //talents-search-filter-content
}