.talents-wrapper, .favorite-talents-wrapper,
.role-matches-talent-view-wrapper,
.self-submissions-talent-view-wrapper,
.like-it-list-talents-wrapper,
.audition-worksheet-talents-wrapper,
.audition-worksheet-wrapper
{
	.talents-search-filter-content{
		.panel-talents-search{
			.panel-heading{
				background-color: #23272D;
				.panel-title{
					&.talents-refine-title{
						color:#fff;
					}
				}
				.panel-heading-controls{
					.panel-heading-icon{
						i{
							color: #fff;
						}
					}
				}
			}
		} //panel-talents-search

		.talents-search-result{
			.top-results-heading{
				.pagination{
					vertical-align: bottom;
				}
				.results-counter{
					display: inline-block;
					padding-bottom: 2px;
				}
			}

			.talent-item-container{
				font-size: 12px;
				margin-bottom: 30px;

				ul{
					li{
						&.active{
							a{
								background: #D2D2D2;
								color: #555;
								border-bottom: 2px solid #D2D2D2;
							}
						}
					}
				}

				.panel-body{
					padding: 10px;
				    min-height: 290px;

					.note-item-container-holder {
						height: auto;
						min-height: 165px;
						max-height: 165px;
						overflow-y: scroll;

						@media only screen and (max-width: 1200px){
							min-height: 436px;
							max-height: 436px;
						}

						@media only screen and (max-width: 992px){
							min-height: 140px;
							max-height: 140px;
						}
						@media only screen and (max-width: 768px){
							min-height: 600px;
							max-height: 600px;
						}
						@media only screen and (max-width: 480px){
							min-height: 260px;
							max-height: 260px;
						}
						@media only screen and (max-width: 320px){
							min-height: 260px;
							max-height: 260px;
						}

						.note-item {
							padding-bottom: 10px;
							margin-bottom: 10px;
						    border-bottom: 1px solid #ddd;

							 .name-date {
							 	display: block;
								vertical-align: top;
								margin-top: 3px;
								margin-left: 2px;

								.name{
									display: inline-block;
		 							color: #4083a9;
		 							font-weight: 600;
								}
								.date {
									float: right;
									display: inline-block;
									color: #898989;
									font-size: 9px;
								}
							}

							.note-body{
								margin-bottom: 5px;
							}

							.edit-note-link{
								background-color: rgb(234, 234, 234);
								padding: 2px 5px;
								cursor: pointer;
							}

							&:last-child{
								border-bottom-width: 0px;
							}
						}
					}

				}
				
				.talent-photo{
					background-color: #FFF;
					border: 1px solid #DDD;
					padding: 3px;
					overflow: hidden;

					.photo-user-container{
						display: flex;
						justify-content: center;
					    overflow: hidden;
					    min-height: 150px;
						max-height: 150px;

						img, a{
							flex: 0 1 auto;
							vertical-align: middle;
							align-self: center;
							width: 100%;
							max-height: none;
							max-width: 100%;
							height: auto;
							display: block;
						}

						@media only screen and (max-width: 1200px){
							min-height: 320px;
							max-height: 320px;
						}
						@media only screen and (max-width: 992px){
							min-height: 140px;
							max-height: 140px;
						}
						@media only screen and (max-width: 768px){
							min-height: 400px;
							max-height: 400px;
						}
						@media only screen and (max-width: 480px){
							min-height: 260px;
							max-height: 260px;
						}
						@media only screen and (max-width: 320px){
							min-height: 260px;
							max-height: 260px;
						}
					}
				}
				
				// new layout for talents no sidebar
				.talent-note-v2{
					@extend .panel-body;
					padding: 0px;
					display: none;
					background-color: #ffffff;
					border: 1px solid #dddddd;
					min-height: 238px - 20px;

					.note-item-container-holder{
						min-height: 238px - 32px;
						max-height: 238px - 32px;

						.note-item{
							.name-date{
								margin-left: 0px;
							}
							.edit-note-link{
								font-size: 11px;
							}
						}
					}

					.back-add-note-container{
						border-bottom: 1px solid #dddddd;

						.back-btn{
							border-right: 1px solid #dddddd;
						}

						.add-note-btn{

						}
					}
				}

				.talent-photo-v2{

				}

				.talent-photo-and-note-container{
					position: relative;
					
					&:hover{
						.talent-functions-v2{
							opacity: 1;				
						}
					}

					.talent-functions-v2{
						position: absolute;
						text-align: right;
						right: 1px;
						top: 1px;
						opacity: 0;
						transition: 0.3s;

						@media all and (max-width: 768px){
							opacity: 1;
							bottom: 0;
							top: inherit;
							right: inherit;
							margin: 0;
							display: flex;
							width: 100%;
							li{
								flex-grow: 1;
								padding: 0px;
								.text-function-label{
									display: none;
								}
								a{
									padding: 8px 0 !important;
									width: 100% !important;
								}
							}
						}

						li{
							.text-function-label{
								margin-right: 6px;
								opacity: 0;
								transition: 0.3s;
								color: #ffffff;
								text-shadow: 1px 1px 1px #464646;
								font-weight: bold;
								background-color: rgba(0,0,0,0.45);
								padding: 5px 8px;
								font-size: 11px;
							}
							.talent-function-icon{
								cursor: pointer;
							}

							a{
								padding: 8px;
								background-color: white;
								font-size: 15px;
								color: #969696;
								display: inline-block;
								border-bottom: 1px solid #f3f3f3;
								transition: 0.3s;
								width: 40px;
								text-align: center;
								height: 37px;


							}
						}
					}
				}

				.talent-photo-v2{
					@extend .talent-photo;

					.photo-user-container{
						min-height: 230px;
						max-height: 230px;
					}
				}

				.talent-information-parent{
					.name{
						font-weight: bold;
						color: #555555;
						font-size: 15px;
						padding: 0px;
					}
					.age{
					}
					.talent-additional-info{
						color: #777777;
						font-size: 12px;
						padding: 0px;
						display: flex;
						.additional-info-item{
							flex-grow: 1;
						}
					}
				}

				.like-it-list-parent{
					.like-it-list-container{
						.function-item{
							border-radius: 0px;
						}
					}
				}



				// end new layout for talents no sidebar

				.talent-name{
				    padding-top: 3px;
				}

				.talent-location{

				}

				.talent-information{
					.talents-list-details{
						li{
							line-height: 19px;
						}
					}
				}

				.like-it-list-container{
					.title{
						font-size: 11px;
					}

					.talent-function{
						display: flex;

						.function-item{
							flex-grow: 1;
						}
					}
				}
			} //talent-item-container
		} //talents-search-results

	} //talents-search-filter-content
}
