//talent photo modal
.talent-photo-modal-wrapper{
	.modal-lg {
		.modal-content {
			.photos-wrap {
				.photo-item {
					background-color: #FFF;
						// border: 1px #ddd solid;
						overflow: hidden;
				}
				.image-container {
					display: flex;
					justify-content: center;
						@media only screen and (min-width: 1200px) {
						min-height: 300px;
						max-height: 300px;
	  					}
  					.image-container img {
						flex: 0 1 auto;
						align-self: center;
						width: 100%;
  					}
				}
			}
		}	
	}

}
// end talent photo modal

//talent-view-photos-modal
#talent-view-photos-modal{
	.carousel{
		.item{
			height: 340px;
			img{
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
	}
}
//talent-view-photos-modal