.talents-wrapper{
	.talents-search-filter-content{
		.panel-talents-search{
			.panel-heading{
				background-color: #23272D;
				.panel-title{
					color:#fff;
				}
				.panel-heading-controls{
					.panel-heading-icon{
						i{
							color: #fff;
						}
					}
				}
			}
		}
	}
}