.message-wrapper { 
	.message-body-wrapper {
		.msg-conversation-list {	
			.image-convo img {
				width:70px;
				height:80px;
				}
			}
		}
		.heading-image img{
			width:60px;
			height:70px;
		}
		.conversation-box {
		 border-bottom: 1px solid #ddd;
		}
		.conversation-box:nth-child(even){
		background-color:#F5F5F5 ;
		}

		.message-time {
			float: right;
		}
}
