//
// RTL
// --------------------------------------------------

.right-to-left {
  // Base styles
  //

  direction: rtl !important;

  .pull-right {
    float: left !important;
  }

  .pull-left {
    float: right !important;
  }

  // Imports
  //

  @import "./partials/rtl/grid";
  @import "./partials/rtl/breadcrumb";
  @import "./partials/rtl/main_navbar";
  @import "./partials/rtl/main_menu";
  @import "./partials/rtl/progress_bars";
  @import "./partials/rtl/navbar";
  @import "./partials/rtl/dropdowns";
  @import "./partials/rtl/labels";
  @import "./partials/rtl/navs";
  @import "./partials/rtl/alerts";
  @import "./partials/rtl/tables";
  @import "./partials/rtl/accordion";
  @import "./partials/rtl/popovers";
  @import "./partials/rtl/list_groups";
  @import "./partials/rtl/forms";
  @import "./partials/rtl/pagination";
  @import "./partials/rtl/button_groups";
  @import "./partials/rtl/input_groups";
  @import "./partials/rtl/panels";
  @import "./partials/rtl/modals";
  @import "./partials/rtl/notes";
  @import "./partials/rtl/buttons";
  @import "./partials/rtl/stats";
  @import "./partials/rtl/counters";
  @import "./partials/rtl/utils";


  // Widgets
  //

  @import "./partials/rtl/widgets/threads";
  @import "./partials/rtl/widgets/tasks";
  @import "./partials/rtl/widgets/support_tickets";
  @import "./partials/rtl/widgets/profile";
  @import "./partials/rtl/widgets/notifications";
  @import "./partials/rtl/widgets/messages";
  @import "./partials/rtl/widgets/messages_alt";
  @import "./partials/rtl/widgets/comments";
  @import "./partials/rtl/widgets/chat";
  @import "./partials/rtl/widgets/article_comments";
  @import "./partials/rtl/widgets/followers";


  // Pages
  //

  @import "./partials/rtl/pages/invoice";
  @import "./partials/rtl/pages/error_pages";
  @import "./partials/rtl/pages/pricing";
  @import "./partials/rtl/pages/search";
  @import "./partials/rtl/pages/signin";
  @import "./partials/rtl/pages/signup";
  @import "./partials/rtl/pages/signin_alt";
  @import "./partials/rtl/pages/signup_alt";
  @import "./partials/rtl/pages/timeline";
  @import "./partials/rtl/pages/mail";
  @import "./partials/rtl/pages/profile";


  // jQuery UI
  //

  @import "./partials/rtl/plugins/jquery_ui/accordions";
  @import "./partials/rtl/plugins/jquery_ui/menus";
  @import "./partials/rtl/plugins/jquery_ui/spinners";
  @import "./partials/rtl/plugins/jquery_ui/datepicker";


  // Plugins
  //

  @import "./partials/rtl/plugins/pa.switcher";
  @import "./partials/rtl/plugins/pa.wizard";
  @import "./partials/rtl/plugins/pa.file_input";
  @import "./partials/rtl/plugins/jquery.select2";
  @import "./partials/rtl/plugins/bootstrap_datepicker";
  @import "./partials/rtl/plugins/bootstrap_datepaginator";
  @import "./partials/rtl/plugins/bootstrap_tabdrop";
  @import "./partials/rtl/plugins/jquery.minicolors";
  // {
    @import "./partials/rtl/plugins/bootstrap_editable/bootstrap_editable";
    @import "./partials/rtl/plugins/bootstrap_editable/address";
  // }
  @import "./partials/rtl/plugins/jquery.datatables";
  @import "./partials/rtl/plugins/dropzone";
  @import "./partials/rtl/plugins/summernote";
  @import "./partials/rtl/plugins/jquery.growl";
  @import "./partials/rtl/plugins/jquery.flot";
}
